<h2>Public Recipes</h2>
<ul class="publicRecipeCont">
  <% @public_recipes.each do |recipe| %>
    <li class="publicRecipe">
      <div class="publicRecipeNameCont">  
        <div class="forkicon">🍽</div>
        <div><%= link_to recipe.name, public_recipe_path(recipe), class: 'publicRecipeName' %> <br> <i>by <%= recipe.user.name %></i></div>
      </div>

      <div>
        <p>Total food items: <%= recipe.recipe_foods.count %></p>
        <p>Total price: <%= recipe.recipe_foods.sum { |rf| rf.quantity * rf.food.price } %></p>
      </div>
    </li>
  <% end %>
</ul>
