<h1>Your recipe List</h1>
<ul>
  <% @recipes.each do |recipe| %>
    <li>
      <%= link_to recipe.name, recipe_path(recipe)%> -<%= recipe.description %>
      <%= button_to 'Delete Recipe', recipe, method: :delete %>
      
    </li>
  <% end %>
</ul>
<%= link_to 'Add New recipe', new_recipe_path %>
